Support JSContact (RFC 9553) for storing contacts

## Is your feature request related to a problem? Please describe.
Incompatibilities and limitations of the vCard contact storing standard.

## Describe the solution you'd like
In the IETF’s [RFC 9553](https://datatracker.ietf.org/doc/html/rfc9553/), **JSContact**, a new standard for JSON Representation of Contact Data has been published. I believe this could be the final solution for the major issue of contact cards compatibility!

## Additional context
- [RFC 9554](https://datatracker.ietf.org/doc/html/rfc9554/): *vCard Format Extensions for JSContact*
- [RFC 9555](https://datatracker.ietf.org/doc/html/rfc9555/): *JSContact: Converting from and to vCard*


In which scope do you see this proposal?

The default opencloud compose project uses radicale for calendar and contacts.

For a future groupware stack, we are already considering alternatives.

To be honest, I don’t have any knowledge of the codebase or of the structure of the project, I also realised that right now OpenCloud fully relies on Radicale for contacts and calendar only after opening this issue (sorry, my bad!)

Still, I believe it’s worth evaluating the adoption of these open state-of-the-art standards, hoping that adoption grows soon!